:root {
  --first-color: #0b2447;
  --second-color: #19376d;
  --third-color: #576cbc;
  --light-color: #a5d7e8;
}
.featured {
  flex: 2;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .top {
    .title {
      font-weight: bold;
      font-size: 14px;
      color: var(--second-color);
    }
  }
  .bottom {
    .featuredChart {
      width: 150px;
      height: 150px;
    }
  }
}
