:root {
  --first-color: #b1b2ff;
  --second-color: #aac4ff;
  --third-color: #d2daff;
  --light-color: #eef1ff;
}
.sidebar {
  flex: 1;
  border-right: 0.5px solid rgb(233, 232, 232);
  min-height: 100vh;
  background-color: white;
  hr {
    height: 0;
    border: 0.5px solid rgb(233, 232, 232);
  }

  .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      font-weight: 800;
      font-size: 32px;
      color: #d64045;
      letter-spacing: 1px;
    }
  }
  .center {
    display: flex;
    flex-direction: column;
    .avatar {
      margin-top: 30px;
      height: 100px;
      width: 100px;
      border-radius: 50%;
      text-align: center;
      object-fit: cover;
    }
    .item {
      text-align: center;
    }
    padding-left: 10px;
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      list-style: none;
      margin: 0;
      padding: 0;

      .title {
        font-size: 14px;
        font-weight: 700;
        color: #1d3354;
        margin-top: 20px;
        margin-bottom: 10px;
      }
      li {
        display: flex;
        align-items: center;
        padding: 5px;
        cursor: pointer;
        &:hover {
          background-color: #e9fff9;
        }
        .icon {
          font-size: 20px;
          color: #03045e;
        }
        span {
          font-size: 16px;
          font-weight: 600;
          color: #467599;
          margin-left: 10px;
        }
      }
    }
  }
  .bottom {
    display: flex;
    margin: 10px;
    .colorOption {
      width: 20px;
      height: 20px;
      border-radius: 5px;
      border: 1px solid var(--third-color);
      cursor: pointer;
      margin: 5px;

      &:nth-child(1) {
        background-color: whitesmoke;
      }
      &:nth-child(2) {
        background-color: #333;
      }
    }
  }
}
